<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer mt-5 py-3 border-top bg-light">
    <div class="container">
        <div class="d-inline-block align-middle">
            <img th:src="@{/images/Logo.png}">
        </div>
        <div class="d-inline-block align-middle mx-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">회사소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">개인정보취급방침</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">청소년보호정책</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">이용약관</a>
                </li>
            </ul>
            <div class="px-3">
                <div><span>상호명 : (주) 문홀딩스 | 대표명 : 문성준</span></div>
                <div><span>통신판매업신고번호 : 제 2022-서울금천-01호</span></div>
                <div><span>2022 (주) MOON.Inc.All right reserved</span></div>
            </div>
        </div>
    </div>
</footer>
</html>
