<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="header">
    <nav class="navbar navbar-expand-xl navbar-light bg-light py-0 mb-5 ml-1 border-bottom">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img th:src="@{/images/Logo.png}">
            </a>
            <div class="navbar-toggler border-0">
                <th:block sec:authorize="isAuthenticated()">
                    <div class="btn-group dropdownContainer">
                        <button class="border-0" data-toggle="dropdown" style="background-color: transparent;" id="notification1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                            </svg>
                        </button>
                        <svg id="notificationDot1" style="position: relative; top:2px; left: -15px; visibility: hidden" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                        </svg>
                        <div class="dropdown-menu dropdown-menu-right text-dark overflow-auto" id="notificationList1" style="width: 300px; height: 400px">
                            <div class="dropdown-header">
                                <span>알림</span>
                                <button class="border-0" style="background-color:transparent;" onclick="header.deleteAllNotification()">전체 삭제</button>
                            </div>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                </th:block>
                <div class="ml-1 btn-group border-0">
                    <button class="border-0" data-toggle="dropdown" style="background-color: transparent;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right text-center text-dark">
                        <a class="dropdown-item h-3" href="/all">전 체</a>
                        <a class="dropdown-item h-3" href="/free">자 유</a>
                        <a class="dropdown-item h-3" href="/humor">유 머</a>
                        <a class="dropdown-item h-3" href="/game">게 임</a>
                        <a class="dropdown-item h-3" href="/sport">스 포 츠</a>
                        <a class="dropdown-item h-3" href="/it">I T</a>
                        <a class="dropdown-item h-3" href="/food">요 리</a>
                        <a class="dropdown-item h-3" href="/question">질 문</a>
                        <div class="dropdown-divider"></div>
                        <th:block sec:authorize="isAnonymous()">
                            <a class="dropdown-item" href="/login">로 그 인</a>
                            <a class="dropdown-item" href="/register">회 원 가 입</a>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <a class="dropdown-item" type="button" href="/users/mypage/profile">프 로 필</a>
                            <a class="dropdown-item" type="button" href="/users/mypage/mypost">MY 글</a>
                            <a class="dropdown-item" type="button" href="/users/mypage/myopinion">MY 댓 글</a>
                            <a class="dropdown-item" type="button" href="/users/mypage/notification">알 림</a>
                            <a class="dropdown-item" href="/logout">로 그 아 웃</a>
                        </th:block>
                        <div class="dropdown-divider"></div>
                        <form class="form-inline my-2 my-md-0" action="/all">
                            <input class="form-control" type="text" placeholder="전체 게시판 검색" name="keyword">
                        </form>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" href="/all">전 체</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" href="/free">자 유</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" href="/humor">유 머</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" href="/game">게 임</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" href="/sport">스 포 츠</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" href="/it">I T</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" href="/food">요 리</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" href="/question">질 문</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0 ml-3 mr-1" action="/all">
                    <input class="form-control mr-sm-2" type="text" placeholder="전체 게시판 검색" name="keyword">
                </form>
                <th:block sec:authorize="isAnonymous()">
                    <a class="btn btn-outline-primary" href="/login">로그인</a>
                    <a class="btn btn-primary ml-3" href="/register">회원가입</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <div class="btn-group ml-5 dropdownContainer">
                        <button class="border-0" data-toggle="dropdown" style="background-color: transparent; position: relative" id="notification2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                            </svg>
                        </button>
                        <svg id="notificationDot2" style="position: relative; top:2px; left: -15px; visibility: hidden" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                        </svg>
                        <div class="dropdown-menu dropdown-menu-right text-dark overflow-auto" id="notificationList2" style="width: 390px; height: 400px">
                            <div class="dropdown-header">
                                <span>알림</span>
                                <button class="border-0" style="background-color:transparent;" onclick="header.deleteAllNotification()">전체 삭제</button>
                            </div>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                    <div class="ml-3 btn-group">
                        <button class="border-0" data-toggle="dropdown" style="background-color: transparent;">
                            <img class="rounded-circle" style="width: 50px; height: 50px" th:src="${user.picture}" onerror="this.src='/images/anonymous.png'">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right text-center">
                            <a class="dropdown-item" type="button" href="/users/mypage/profile">프 로 필</a>
                            <a class="dropdown-item" type="button" href="/users/mypage/mypost">MY 글</a>
                            <a class="dropdown-item" type="button" href="/users/mypage/myopinion">MY 댓 글</a>
                            <a class="dropdown-item" type="button" href="/users/mypage/notification">알 림</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">로 그 아 웃</a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </nav>
    <script th:inline="javascript" sec:authorize="isAuthenticated()">
        const userId = '[[${user.id}]]';
        let read = false;
    </script>
</header>
</html>