<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<!-- head start -->
<head th:replace="fragment/head :: head"></head>
<!-- head end -->
<body>
<!-- header start-->
<header th:replace="fragment/header :: header"></header>
<!-- header end-->
    <main role="main">
        <div class="container-sm" th:with="baseUrl=${#strings.toLowerCase(category)}">
            <div class="text-center px-5 py-3">
                <h2 th:text="${category.description}"></h2>
            </div>
            <div class="px-3 mb-3">
                <a class="btn btn-primary" th:href="@{|${baseUrl}/write|}"><i class="bi bi-pencil-square"></i> 글작성</a>
                <button class="btn btn-light dropdown-toggle float-right" type="button" data-toggle="dropdown">
                    <i class="bi bi-sort-down"></i>
                    정렬하기
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{${baseUrl}(sort='id,desc')}">최신순</a>
                    <a class="dropdown-item" th:href="@{${baseUrl}(sort='likeCount,desc')}">추천순</a>
                    <a class="dropdown-item" th:href="@{${baseUrl}(sort='viewCount,desc')}">조회순</a>
                    <a class="dropdown-item" th:href="@{${baseUrl}(sort='opinionCount,desc')}">댓글순</a>
                </div>
            </div>
            <div class="px-3 mb-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item pb-1 mb-1 px-0" th:each="post : ${postList}">
                        <div class="d-flex mb-1">
                            <img class="rounded-circle mr-1" style="width: 30px; height: 30px" onerror="this.src='/images/anonymous.png'" th:src="${post.users.picture}">
                            <div class="w-50">
                                <span class="mx-1" th:text="${post.users.nickname}"></span>
                                <span>·</span>
                                <span class="mx-1 text-muted" th:text="${post.createdAt}"></span>
                            </div>
                            <div class="row w-50">
                                <div class="col text-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 2 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                    <span th:text="${post.viewCount}"></span>
                                    <span>·</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                    <span th:text="${post.opinionCount}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                            <a class="text-decoration-none text-body" th:href="@{|/post/${post.id}|}"><b th:text="${post.title}"></b></a>
                        </div>
                    </li><!-- 게시물 반복문 -->
                </ul><!-- 게시물 목록 -->
            </div>
            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center"
                        th:with="start=${T(java.lang.Math).floor((page.currentPage)/5)*5+1},
                        last=${start+4 < page.totalPages ? start+4 : page.totalPages}"> <!--페이지 첫번호, 끝번호 설정-->
                        <li class="page-item" th:classappend="${start == 1} ? 'disabled'">
                            <a class="page-link" aria-label="Previous" th:if="${param.sort} == null" th:href="@{${baseUrl}(page=${start}-1)}"> <!-- << 버튼 href -->
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            <a class="page-link" aria-label="Previous" th:unless="${param.sort} == null" th:href="@{${baseUrl}(page=${start}-1, sort=${param.sort})}"> <!-- << 버튼 href -->
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="number : ${#numbers.sequence(start, last)}"
                            th:classappend="${number == page.currentPage + 1} ? 'active'"
                            th:if="${start <= last}"><!-- 버튼 첫번호부터 끝번호까지 반복문 -->
                            <a class="page-link" th:if="${param.sort} == null" th:href="@{${baseUrl}(page=${number})}" th:text="${number}"></a>
                            <a class="page-link" th:unless="${param.sort} == null" th:href="@{${baseUrl}(page=${number}, sort=${param.sort})}" th:text="${number}"></a>
                        </li>
                        <li class="page-item" th:classappend="${last == page.totalPages} ? 'disabled'">
                            <a class="page-link" aria-label="Next" th:if="${param.sort} == null" th:href="@{${baseUrl}(page=${last}+1)}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            <a class="page-link" aria-label="Next" th:unless="${param.sort} == null" th:href="@{${baseUrl}(page=${last}+1, sort=${param.sort})}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><!-- 페이지 넘버 버튼 -->
        </div><!-- container end -->
    </main>
<!-- footer start -->
<footer th:replace="fragment/footer :: footer"></footer>
<!-- footer end -->
</body>
</html>