<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<!-- head start -->
<head th:replace="fragment/head :: head"></head>
<!-- head end -->
<body>
<!-- header start-->
<header th:replace="fragment/header :: header"></header>
<!-- header end-->
    <main role="main">
        <div class="container px-5" th:with="baseUrl=${#strings.toLowerCase(category)}">
            <div class="text-center px-5 py-3">
                <h2 th:text="${category.description}"></h2>
            </div>
            <div class="px-5">
                <a class="btn btn-primary" th:href="@{{category}/write(category=${baseUrl})}"><i class="bi bi-pencil-square"></i> 글작성</a>
                <button class="btn btn-light dropdown-toggle float-right" type="button" data-toggle="dropdown">
                    정렬하기
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" >최신순</button>
                    <button class="dropdown-item" >추천순</button>
                    <button class="dropdown-item" >조회순</button>
                    <button class="dropdown-item" >댓글순</button>
                </div>
            </div>
            <div class="px-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="post : ${postList}">
                        <div>
                            <div class="d-inline">logo</div><div class="d-inline">name</div><div class="d-inline">hit</div>
                        </div>
                        <div>
                            <a th:href="@{|/post/${post.id}|}" th:text="${post.title}"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center"
                        th:with="start=${T(java.lang.Math).floor((page.currentPage)/5)*5+1},
                        last=${start+4 < page.totalPages ? start+4 : page.totalPages}"> <!--페이지 첫번호, 끝번호 설정-->
                        <li class="page-item" th:classappend="${start == 1} ? 'disabled'">
                            <a class="page-link" aria-label="Previous" th:href="@{${baseUrl}(page=${start}-1)}"> <!-- << 버튼 href -->
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="number : ${#numbers.sequence(start, last)}"
                            th:classappend="${number == page.currentPage + 1} ? 'active'"
                            th:if="${start <= last}"><!-- 버튼 첫번호부터 끝번호까지 반복문 -->
                            <a class="page-link" th:href="@{${baseUrl}(page=${number})}" th:text="${number}"></a>
                        </li>
                        <li class="page-item" th:classappend="${last == page.totalPages} ? 'disabled'">
                            <a class="page-link" aria-label="Next" th:href="@{${baseUrl}(page=${last}+1)}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- container end -->
    </main>
<!-- footer start -->
<footer th:replace="fragment/footer :: footer"></footer>
<!-- footer end -->
</body>
</html>