<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head start -->
<head th:replace="fragment/head :: head"></head>
<!-- head end -->
<body>
<!-- header start-->
<header th:replace="fragment/header :: header"></header>
<!-- header end-->

<!-- main start -->
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6" th:each="category : ${categoryList}">
                <div>
                    <h2><a th:href="@{{category}(category=${#strings.toLowerCase(category.categoryType)})}" th:text="${category.categoryType.title}"></a></h2>
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="post, index : ${category.postList}" th:if="${index.index < 5}">
                            <div>
                                <div class="d-inline">logo</div>
                                <div class="d-inline" th:text="${post.users.nickname}"></div>
                                <div class="d-inline" th:text="${post.viewCount}"></div>
                            </div>
                            <div>
                                <a href="" th:text="${post.title}"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- col end-->
        </div><!-- row end-->
    </div> <!-- container end-->
</main>
<!-- main end -->

<!-- footer start -->
<footer th:replace="fragment/footer :: footer"></footer>
<!-- footer end -->
</body>
</html>