<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head start -->
<head th:replace="fragment/head :: head"></head>
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.6/examples/sign-in/signin.css">
<!-- head end -->
<body class="text-center">
    <form class="form-signin">
        <h1 class="h2 mb-5 font-weight-normal">Moon's Community &nbsp <br> 로그인</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="mb-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
        </div>
        <div class="d-flex mb-3">
            <div class="w-50 pr-1">
            <button class="btn btn-success btn-block" type="button">네이버 로그인</button>
            </div>
            <div class="w-50 pl-1">
            <button class="btn btn-warning btn-block text-white" type="button">구글 로그인</button>
            </div>
        </div>
        <div>
            <a class="text-dark" href="">회원가입</a> <span> · </span> <a class="text-dark" href="">아이디 찾기</a> <span> · </span> <a class="text-dark" href="">비밀번호 찾기</a>
        </div>
        <p class="mt-5 mb-3 text-muted">© 2022-2022</p>
    </form>
</body>
</html>