<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <!--main start-->
    <main role="main">
        <div class="container-sm">
            <div class="row">
                <nav th:replace="fragment/nav :: nav"></nav>
                    <div class="col-md-9">
                        <h2>프로필</h2>
                        <div class="border-top pt-5">
                            <form class="row">
                                <input type="hidden" id="id" th:value="${profile.id}">
                                <div class="col-xl-3 align-self-center text-center">
                                    <input type="file" id="upload" hidden>
                                    <button type="button" class="btn p-0" id="btn-picture">
                                    <img id="picture" class="rounded-circle" style="width: 200px; height: 200px" th:src="${profile.picture}" onerror="this.src='/images/anonymous.png'">
                                    </button>
                                </div>
                                <div class="col-xl-9">
                                    <div class="form-group">
                                        <label for="email">이메일</label>
                                        <input type="email" class="form-control" id="email" th:value="${profile.email}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">이름</label>
                                        <input type="text" class="form-control" id="name" th:value="${profile.name}">
                                    </div>
                                    <div class="form-group">
                                        <label for="nickname">닉네임</label>
                                        <input type="text" class="form-control" id="nickname" th:value="${profile.nickname}">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div style="height:250px;" class="row">
                            <div class="col align-self-end text-right">
                                <button class="btn btn-primary" type="button" id="btn-update">수정하기</button>
                            </div>
                        </div>
                    </div>
            </div><!-- row end -->
        </div><!-- container end -->
    </main><!-- main end-->
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/app/profile.js}"></script>
</th:block>
</body>
</html>