<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<!-- head start -->
<head th:replace="fragment/head :: head"></head>
<!-- head end -->
<body>
<!-- header start-->
<header th:replace="fragment/header :: header"></header>
<!-- header end-->
<main role="main">
    <div class="container px-5">
        <div class="text-center">
            <h2>글쓰기</h2>
        </div>
        <form>
            <label for="category">게시판</label>
            <div class="form-group">
            <select class="custom-select" id="category">
                <option selected>게시판을 선택해 주세요.</option>
                <option th:each="category : ${categoryList}" th:value="${category}" th:text="${category.title}"></option>
            </select>
            </div>
            <input type="hidden" id="userId" th:value="${user.id}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" rows="30"></textarea>
            </div>
        </form>
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-outline-primary" onClick="history.go(-1)">&nbsp; 취소 &nbsp;</button>
                <button class="btn btn-primary" type="submit" id="btn-create">&nbsp; 등록 &nbsp;</button>
            </div>
        </div>
    </div>
</main>
<!-- footer start -->
<footer th:replace="fragment/footer :: footer"></footer>
<!-- footer end -->
<script src="/js/app/write.js"></script>
</body>
</html>